.mat-card {
  padding-right: 20px;
}
.leave {
  display: block;
}
.leave {
  height: 255px;
}
.leaveStatus {
  color: red;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 90vh;
}
.green{
  color:green
}
.mat-icon{
  font-size: 30px;

}

